.badge {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
}

.primary {
    background-color: rgba(36, 161, 72, 0.1);
    color: var(--primary-green);
}

.secondary {
    background-color: var(--background-grey);
    color: var(--text-grey);
}

.danger {
    background-color: rgba(229, 57, 53, 0.1);
    color: var(--error-red);
}

.warning {
    background-color: rgba(255, 206, 58, 0.2);
    color: #B78C00;
    /* Darker yellow for text readability */
}

.success {
    background-color: rgba(46, 204, 113, 0.1);
    color: var(--success-green);
}